.wrapper {
  border-bottom: 1pt solid #ccc;
  height: 60px;
  display: flex;
  align-items: center;
}
.search-result {
  width: 230px;
}
.search-title {
	font-size: 1.4rem;
	font-weight: 600;
	padding: 5px 12px;
}
